spImagesDirectory = ./yuval/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100
spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 100
spExtractionMode = false
spNumOfSimilarImages = 5
spKDTreeSplitMethod = INCREMENTAL
spKNN = 10
spMinimalGUI = false
spLoggerFilename = test1.log
spLoggerLevel = 4