spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 100
spExtractionMode = true

spNumOfSimilarImages = 5
spKDTreeSplitMethod = RANDOM
spKNN = 10

spMinimalGUI = false
spLoggerFilename = test1.log
spLoggerLevel = 4